body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 90%);
  margin: 0;
  color: #333;
}
#quizContainer {
  background-color: hsl(0, 0%, 100%);
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
#quizContainer p {
  text-align: center;
  font-size: 16px;
}
h1 {
  text-align: center;
  margin-bottom: 1em;
  color: hsl(210, 29%, 24%);
}
h3 {
  margin-bottom: 1em;
  font-size: 18px;
}
#timer {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #c0392b;
  margin-bottom: 1em;
}
.option {
  margin-bottom: 1em;
}
.option label {
  cursor: pointer;
  font-size: 16px;
}
.option input[type="radio"] {
  margin-right: 8px;
}
button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: hsl(204, 70%, 53%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: hsl(204, 64%, 63%);
}
